.card-wrapper {
  display: inline;
}

.card {
  display: inline-block;
}

.card, .piece {
  height: 127px;
  width: 100px;
  background-size: contain;
}

#round .hand .card-wrapper,
#card-selection .card-wrapper,
.piece {
  position: relative;
}

.selected:after {
  content: " ";
  width: 25px;
  height: 30px;
  position: absolute;
  transform: rotate(90deg);
  background-image: url("../images/pointer.png");
  background-size: contain;
}

#round .hand .card-wrapper.selected:after {
  top: -75px !important;
}

#card-selection .card-wrapper.selected:after,
#round .hand .card-wrapper.selected:after,
.piece.selected:after{
  left: -25px;
  top: 50px;
}
