#game, #deck {
  padding-top: 65px;
}

#navigation {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  box-shadow: 1px 1px rgba(51,51,51,0.5);
  background: white;
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

#navigation ul li {
  height: 60px;
  width: 10%;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  line-height: 35px;
  cursor: pointer;
}


.deck .card {
  width: 100px;
  height: 127px;
  display: inline;
}

.deck .card img {
  background-color: blue;
}

.deck .card.opponent img {
 background-color: red;
}
}