#game, #deck {
  padding-top: 65px;
}

#navigation {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  box-shadow: 1px 1px rgba(51,51,51,0.5);
  background: white;
}

#navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

#navigation ul li {
  height: 60px;
  width: 10%;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  line-height: 35px;
  cursor: pointer;
}


.card {
  width: 100px;
  height: 127px;
  display: inline;
}

.card img {
  background-color: blue;
}

.card.opponent img {
 background-color: red;
}

#hand, #opponent-hand {
  position: absolute;
  top: 65px;
  display: inline;
}

#hand {
  left: 25px;
}

#opponent-hand {
  right: 25px;
}

#hand .deck .card, #opponent-hand .deck .card {
  display: block;
  padding-bottom: 2px;
}

.score {
  font-size: 36px;
  color: rgb(51,51,51);
  text-align: center;

}