@media (min-width: 768px) {
  #round .hand .card-wrapper.selected {
    padding-left: 40px;
  }

  #round .hand .card-wrapper.selected:after {
    left: 15px !important; /*offset the padding*/
  }
}

@media (min-width: 1241px) {
  #round .hand {
    width: 100px;
  }
}

.currentPlayerMessage {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 200px;
  z-index: 4;
  font-size: 4em;
  font-weight: 800;
  color: white;
  background: black;
}