#signin, #signup, #forgot-email, #reset-email {
  text-align: center;
  width: 400px;
  margin: 0px auto;
  border-bottom: 1px solid #b7bcc4;
  background: white;
  padding: 2em;

  button {
    margin-bottom: 1em;
  }
}